.button {
  display: inline-block;
  padding: 1.2rem 2rem;
  color: white;
  border-radius: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-right: 2rem;
  box-sizing: border-box;
  text-align: center;
}


.button:hover {
  filter: brightness(0.8);
}

@media only screen and (max-width: 767px) {
  .button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
