@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './headers.css';

@layer base {
  * {
    @apply box-border;
  }

  /* purgecss ignore */
  html,
  body,
  #__next {
    @apply w-full h-full p-0 m-0;
  }

  body {
    @apply leading-tight text-white bg-black font-body;
  }

  a {
    @apply no-underline text-gold;
  }

  p {
    @apply mx-0 my-6;
  }

  strong {
    @apply font-semibold;
  }

  .blur {
    filter: blur(25px);
  }

  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .bg-overlay-fade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 30%);
  }

  .hover-dim:hover {
    filter: brightness(0.8);
  }

  @screen md {
    body {
      @apply text-lg;
    }
  }
}

@layer components {
  .nav-fade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

  .hero-text {
    @apply w-full mx-3 mt-6;
  }

  .blade-border {
    border-top-color: #2d3748;
    border-right-color: #4a5568;
    border-bottom-color: #4a5568;
    border-left-color: #2d3748;
  }

  .bookmark {
    top: 0.5rem;
    right: 0.5rem;
  }

  .bookmark.active {
    display: block;
  }

  .bookmark.active svg {
    fill: #466E3C;
  }

  .message:hover .bookmark {
    display: block;
  }

  .top-button {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @screen md {
    .hero-text {
      width: 30.625rem;
      margin-left: 10%;
    }

    .bookmark {
      display: none;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .top-button {
      top: 2rem;
    }
  }
}
