.nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 10rem;
  padding: 2rem 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

  a {
    width: 18rem;
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    height: 6rem;
    padding: 0.5rem 0;

    a {
      width: 15rem;
    }
  }
}
